body{
	background-color: hsl(0, 100%, 80%);

	
}
.gra{
	height: 710px;
	background-image: linear-gradient(#e6b3ff, #ff9933)
}
.logo{
	border-radius: 50%;
	background: lightgray;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 20px;
	margin-left: 120px;
}
.topbar{
	display: inline block;
	background: gray;
	width: right;
	height: 80px;
	position: relative;
	opacity: .6;
}
.pre{
	border: 2px dotted lightgray;
	background-color: lightgray;
	width: 60px;
	height: 25px;
	position: absolute;
	top: 35px;
	margin-left: 550px;
}
.help{
border: 2px dotted lightgray;
background-color: lightgray;
	width: 60px;
	height: 25px;
	position: absolute;
	top: 35px;
	margin-left: 650px;
}
.down{
	border: 2px dotted lightgray;
	background-color: lightgray;
	width: 60px;
	height: 25px;
	position: absolute;
	top: 35px;
	margin-left: 750px;
}
.sign{
	border: 2px dotted lightgray;
	background-color: lightgray;
	width: 60px;
	height: 25px;
	position: absolute;
	top: 35px;
	margin-left: 950px;

}
.log{
border: 2px dotted lightgray;
background-color: lightgray;
	width: 60px;
	height: 25px;
	position: absolute;
	top: 35px;
	margin-left: 1050px;
}
.mid{
	border: 2px dotted lightgray;
	background-color: lightgray;
	width: 600px;
	height: 150px;
	position: absolute;
	top: 300px;
	margin-left: 335px;
}
.mid1{
	border: 2px dotted lightgray;
	background-color: lightgray;
	width: 450px;
	height: 75px;
	position: absolute;
	top: 480px;
	margin-left: 410px;

}
.mid2{
	border: 2px dotted lightgray;
	background-color: lightgray;
	border-radius: 500px;
	width: 350px;
	height: 75px;
	position: absolute;
	top: 580px;
	margin-left: 460px;
}
