body{
  color: black;
  background-color: black;
}
.frameout {
	width: 500px;
	height: 1000px;
	background-color:  none;
  background: none;
	border-radius: 250px / 500px;
	margin-left: 800px;
	margin-top: 500px;
	position: absolute;
	border: 30px dashed gold ;
	transition-duration: 0.3s;
} 
.framein {
	  width: 400px;
      height: 800px;
      background: none;
      background-color: none;
      border-radius: 200px / 400px;
      border: none;
      margin-left: 850px;
      margin-top: 600px;
      transition-duration: 0.3s;
      position: relative;
}
.framein:hover {
	background: lightgray;
	background-color: lightgray;

}
.frameout:hover {
	background-color: green;
	background: red;
  position: absolute;
}


a{
  color: hotpink;
  text-decoration: none;
}

}
a:hover{
  text-decoration: hotpink;
  text-decoration-color: hotpink;
  color: hotpink;
}