.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
body {
    background-color: black;
    scroll-behavior: infinite;
    color: white;
    font-size: 100px;
}
.big{
    font-size: 300px;
}
.big2{
    font-size: 400px;
    color: darkgray;
}