div {
    width: 100px;
    height: 100px;
    background: maroon;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

div:hover {
    width: 3000px;
    height: 3000px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.pos{
		margin-left: 500px;
}
.w{
	font-size: 500px;
}
body{
	cursor: progress;
	font-family: Snell Roundhand, cursive;
}
